<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body>    
       <div id="signInButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="YOUR_CLIENT_ID_GOES_HERE.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

        <div id ='result'></div>
        <script>
        	function signInCallback(authResult){
        		if (authResult['code'])
        		{
        			$('#signInButton').attr('style','display:none');
        			$.ajax ({
        				type:'POST',
        				url : '/gconnect?state={{STATE}}',
        				processData : false ,
        				contentType : 'application/octet-stream;charset=utf-8',
        				data : authResult['code'],
        				success : function(result){
        					if (result){
        						$('#result').html('Login Successful!<br>'+result+ "</br> Redirecting ...")
        						setTimeout(function()){
        							window.location.href= "/restaurant";
        						}, 4000) ;
        					} else if (authResult['error']){
        						console.log('There was an error  :'+authResult['error']);
        					} else {
        						$('#result').html('Failed to make a server side call, check your conf');
        					}
        				}
        </script>
  </body>
  </html>